<!DOCTYPE html>
<html>
<%- include('partials/header'); %>

<body>
  <main>
    <div id="conatiner">
      <h1>Post</h1>
      <form action="/posts" method="POST">
        <p>
          Title<input type="text" id="email">
        </p>
        <p>
          Content<input type="text" id="password">
        </p>
        <input type="submit" value="Post new comment">
      </form>
    </div>
  </main>
</body>

</html>