a {
  color: white;
}

/* https://kuroeveryday.blogspot.com/2019/03/dropdown-men-without-javascript-using-details-element.html */
header {
  background-color: black;
  color: white;
  height: 50px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-menu {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-menu > .item {
  margin-left: 2rem;
}

.dropdown-menu {
  position: relative;
}

/* ドロップダウンメニュー */
.dropdown-menu > .dropdown-items {
  position: absolute;
  top: 40px;
  right: 0;

  width: 100px;
  padding: 10px;
  border-radius: 4px;

  background-color: gray;
  box-shadow: 0 0 3px rgba(0, 0, 0, .7);

  z-index: 1;
}
/* メニューにつける▲ */
.dropdown-menu > .dropdown-items::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 30px;
  border-bottom: 5px solid white;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

/* ナビゲーションに表示するタイトル */
.dropdown-menu > .dropdown-title {
  cursor: pointer;
  display: flex;
  align-items: center;

  /* デフォルトの▼を消す */
  list-style: none;
}
/* デフォルトの▼を消す:Chrome用 */
.dropdown-menu > .dropdown-title::-webkit-details-marker {
  display: none;
}
/* カスタムの▼ */
#dropdown {
  margin-left: 10px;
  font-size: 5px;
}

/* 投稿一覧　*/
#post-list {
  width: 80%;
  margin: auto;
}

.post {
  width: 100%;
  line-height: 1.5;
  color: #000;
  box-sizing: inherit;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgba(34,36,38,.15);
}
 
.container {
  width: 60%;
  margin: auto;
}

#signin-form {
  width: 20%;
  margin: auto;
}

#signup-form {
  width: 20%;
  margin: auto;
}

.update-button {
  color: black;
}

.delete-button {
  color: black;
}